sensor:
  - platform: wifi_signal
    name: "Wifi Signal"
    update_interval: 60s
  - platform: uptime
    name: "Uptime"

text_sensor:
  - platform: version
    name: Version
  - platform: wifi_info
    ip_address:
      name: "IP Address"
    ssid:
      name: "Connected SSID"

switch:
  - platform: restart
    name: "Restart Device"
