wifi:
  networks:
    - ssid: !secret wifi_ssid
      password: !secret wifi_password
    - ssid: !secret backup_wifi_ssid
      password: !secret backup_wifi_password
  ap:
    ssid: "${friendly_name} Fallback"
    password: !secret fallback_ap_password