substitutions:
  friendly_name: "ESP32-CAM PIR 46c474"

packages:
  device: !include device_headers/esp32-cam-46c474.yaml

binary_sensor:
  - platform: gpio
    pin: 
      number: GPIO15
      mode:
        input: true
        pullup: true
    name: "PIR Sensor"
    device_class: motion