esphome:
  name: esp32-cam
  friendly_name: ESP32-CAM

esp32:
  board: esp32cam
  framework:
    type: esp-idf
  

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret esp32-cam_api_encryption_key

ota:
  - platform: esphome
    password: !secret esp32-cam_ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp32-Cam Fallback Hotspot"
    password: "Vyd3Jma9Qoqv"

captive_portal:
    

# Camera (ESP32-CAM AI-Thinker)
psram:

esp32_camera:
  name: "My Cam"
  external_clock:
    pin: GPIO0
    frequency: 20MHz
  i2c_pins:
    sda: GPIO26
    scl: GPIO27
  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  power_down_pin: GPIO32
  max_framerate: 15 fps   
  idle_framerate: 0.05 fps 
  resolution: 1024x768
  jpeg_quality: 35

# Optional web server for direct MJPEG stream and local preview
web_server:
  port: 80
