substitutions: {}

esphome:
  name: esp32-cam-46c474
  friendly_name: ${friendly_name}
  name_add_mac_suffix: false

esp32:
  board: esp32cam
  framework:
    type: arduino

wifi:
  networks:
    - ssid: !secret wifi_ssid
      password: !secret wifi_password
    - ssid: !secret backup_wifi_ssid
      password: !secret backup_wifi_password
  ap:
    ssid: "${friendly_name} Fallback"
    password: !secret fallback_ap_password
    
captive_portal:

api:
  encryption:
    key: !secret esp32-cam_api_encryption_key

ota:
  - platform: esphome
    password: !secret esp32-cam_ota_password

logger:

packages:
  diagnostics: !include ../device_config/diagnostics.yaml
